:root {
  --primary-text-color: #212121;
  --title-tex-color: #757575;
  --accent-color: #2196f3;
  --pimary-white-color: #ffffff;
  --secondary-white-color: #f5f5f5;
  --primary-background-color: #2f303a;
  --footer-color: rgba(255, 255, 255, 0.6);
  --color-btn-bg: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* Утіліти */
.list,
.filter,
.list-item,
.list-filter,
.list-style,
.list-examples,
.list-team,
.list-footer {
  list-style: none;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
  padding-left: 15px;
  padding-right: 15px;
}

.section-hero,
.section-preferens,
.section-examples,
.section-team,
.section-filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-title {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* site-nav */
.header {
  display: flex;
  align-items: center;
  width: 1600px;
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* auth-nav */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 50px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* hero */

.section-hero {
  max-width: 1600px;
  background: rgba(47, 48, 58, 0.4);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/hat.jpg);
}

.hero {
  display: block;
  /* background-color: var(--primary-background-color); */
}

.hero-title {
  display: block;
  color: var(--pimary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

/* button */

.hero-button {
  display: block;
  padding: 10px 34px;
  min-width: 216px;
  text-align: center;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--pimary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.link :hover,
.link :focus {
  background-color: var(--accent-color);
  color: var(--pimary-white-color);
}

/* Кнопки svg */

.action {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 22px;
  padding-left: 34px;
  padding-right: 30px;
  width: 270px;
}

.team {
  display: flex;
  list-style: none;
}

/* section */

.list-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.itempr {
  max-width: 270px;
}

.itempr .section-preferens {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.itempr .title-preferens {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.item-1::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  background: var(--color-btn-bg);
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/SVG/Group\ 1.svg);
}

.item-2::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  background: var(--color-btn-bg);
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/SVG/Group\ 2.svg);
}

.item-3::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  background: var(--color-btn-bg);
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/SVG/Group\ 3.svg);
}

.item-4::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  background: var(--color-btn-bg);
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/SVG/Group\ 4.svg);
}

.p-preferens {
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-tex-color);
}

/* Чим ми займаємось */

.section-examples {
  padding-top: 0;
}

.list-examples {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.list-examples .link-examples + .link-examples {
  margin-left: 30px;
}

.title-examples {
  text-align: center;
  padding-bottom: 50px;
  margin: auto;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Наша команда */

.list-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-team {
  background-color: var(--pimary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-team .link-team + .link-team {
  margin-left: 30px;
}

.team-title {
  padding-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}

.p-team {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-tex-color);
  text-align: center;
}

.section-team {
  background-color: var(--color-btn-bg);
}

/* footer */
.footer {
  max-width: 1600px;
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.link-footer .geo {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--pimary-white-color);
  background: var(--primary-background-color);
}

.link-footer a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color);
  background: var(--primary-background-color);
  text-decoration: none;
}

.link-footer :hover,
.link-footer :focus {
  color: var(--accent-color);
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--pimary-white-color);
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
}

/* portfolio */

.list-filter {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}

.item-filter {
  width: 370px;
  border: 1px solid #eeeeee;
}
a img {
  display: block;
}

.fotoport {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.item-filter:nth-child(3n) {
  margin: 0;
}

.item-filter:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex,
.filter {
  width: 1200px;
}

.foto-title {
  padding-top: 20px;
  padding-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.p-portfolio {
  padding-bottom: 20px;
  font-weight: 400;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-tex-color);
}

a {
  text-decoration: none;
}

.filter {
  display: flex;
  justify-content: center;
}

/* Клієнти */

.section-clients {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

.title-clients {
  text-align: center;
  padding-top: 84px;
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.link-clients {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}

/* Кнопки (фільтр) */
.filter-btn button {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-btn-bg);
  padding: 6px 22px;
  margin-bottom: 50px;
  margin-left: 6px;
}

.filter-btn :hover,
.filter-btn :focus {
  background-color: var(--accent-color);
  color: var(--pimary-white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
